* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: hsl(243, 100%, 93%);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    height: 100vh;
    width: 100%;
    background-color: hsl(229, 57%, 11%);
    background-image: url('../images/bg-desktop.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% 50%;

    border: 2px solid black;
}

.tools-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.7em;
}

.tools-container div {
    margin-left: 20px;
}

.logo img {
    width: 45%;
    height: auto;
    object-fit: contain;
}

.tool-icons {
    display: flex;
    gap: 0.8em;
}

.tool-icons img {
    width: 45px;
    height: 45px;
    padding: 10px;
    border-radius: 10px;
    background: hsl(229, 57%, 11%);
}

.storage-component-container {
    display: flex;
    align-items: flex-end;
    gap: 1.5em;
    margin: 0 auto;
    width: 50vw;
}

.tools-container {
    flex: 0.35;
    padding: 40px 20px;
    border-radius: 10px 100px 10px 10px;
    background-color: hsl(228, 56%, 26%);
}

.status-container {
    flex: 0.65;

}

.status-container-info {
    border-radius: 10px;
    background-color: hsl(228, 56%, 26%);
    padding: 25px;
}

.status-container span#space-left {
    font-weight: 700;
}

.floating-storage-digits {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #000;
    margin: 0 30px;
    margin-bottom: -25px;
}

.floating-storage-digits-mobile {
    display: none;
}

.floating-storage-digits>div:before {
    content: "";
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 20px 0;
    border-color: transparent #fff transparent transparent;
}

.floating-storage-digits>div {
    position: relative;
    flex: 0.3;
    background: #fff;
    border-radius: 10px 10px 0 10px;
    text-align: center;
    padding: 2%;
}

.floating-storage-digits>div span:first-child {
    font-size: 2.2em;
    font-weight: 700;
    margin-right: 5px;
}

.floating-storage-digits>div span:last-child {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8em;
    letter-spacing: 2;
    color:hsl(229, 7%, 55%);
}

.storage-status-container {
    padding: 3px;
    border-radius: 10px;
    background-color: hsl(229, 57%, 11%);
}

.storage-status {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 15px;
    width: 80%;
    border-radius: 10px;
    padding: 0 2px;
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

.storage-status-thumb {
    height: 12px;
    width: 12px;
    border: 1px solid hsl(335, 100%, 65%);
    border-radius: 50%;
    background-color: #fff;
}

.min-max-values {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    font-weight: 700;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(243, 100%, 93%);
}


/* Allowing for responsiveness by CSS Media Queries */
@media (max-width: 375px) {

    main {
        background-color: hsl(229, 57%, 11%);
        background-image: url('../images/bg-mobile.png');
        background-repeat: no-repeat;
        background-size: cover;

        border: 2px solid black;
    }

    .storage-component-container {
        flex-direction: column;
        align-items: stretch;
        width: 90vw;
    }

    .floating-storage-digits {
        display: none;
    }

    .floating-storage-digits-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        margin: 0 30px;
        margin-top: -25px;
    }
    .floating-storage-digits-mobile>div {
        position: relative;
        flex: 0.6;
        background: #fff;
        border-radius: 10px;
        text-align: center;
        padding: 7%;
    }
    .floating-storage-digits-mobile>div span:first-child {
        font-size: 2.2em;
        font-weight: 700;
        margin-right: 5px;
    }
    
    .floating-storage-digits-mobile>div span:last-child {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.8em;
        letter-spacing: 2;
        color:hsl(229, 7%, 55%);
    }

}